<div class="section-content wf-section">
    <div class="container-max-width">
      <div data-delay="4000" data-animation="outin" class="slider w-slider" data-autoplay="true" data-easing="ease-in-cubic" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="10" data-duration="800" data-infinite="true">
        <div class="mask w-slider-mask">
          <div class="w-slide">
            <div class="wrapper-expo">
              <div class="margin-bottom">{{ texts.172325 }}<br></div>
              <p class="test">{{ texts.-717b6ec0 }}</p>
            </div>
          </div>
          <div class="w-slide">
            <div class="wrapper-expo">
              <div class="margin-bottom">{{ texts.1774c5 }}<br></div>
              <p class="test">{{ texts.10f7b14d }}</p>
            </div>
          </div>
          <div class="w-slide">
            <div class="wrapper-expo">
              <div class="margin-bottom">{{ texts.1774de }}<br></div>
              <p class="test">{{ texts.3c2a6b62 }}</p>
            </div>
          </div>
          <div class="w-slide">
            <div class="wrapper-expo">
              <div class="margin-bottom">{{ texts.1774e1 }}<br></div>
              <p class="test">{{ texts.-76ee1aa1 }}</p>
            </div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
    <a href="{{ links.3f78ebe3 }}" data-w-id="615a3ac3-371f-ef4c-916c-a079d29271fc" class="cta margin-top w-button">{{ texts.-64104400 }}</a>
  </div>