<footer class="section wf-section">
    <div class="container">
      <div class="flex-top-space-btw-start-to-end footer">
        <div class="wrap-footer">
          <a href="{{ links.2f }}" aria-current="page" class="nav-link w--current">{{ texts.1d0795b4 }}</a>
          <a href="{{ links.-194fb911 }}" class="nav-link">{{ texts.3791a1de }}</a>
        </div>
        <div class="wrap-footer">
          <a href="{{ links.-2dbc66e0 }}" class="nav-link">{{ texts.-627263ef }}</a>
          <a href="{{ links.-8d731fd }}" class="nav-link">{{ texts.51f3ca76 }}</a>
        </div>
        <div class="wrap-footer last">
          <div class="nav-link">{{ texts.-498f9b31 }}</div>
          <a href="{{ links.64a1e758 }}" target="_blank" class="nav-link">{{ texts.552b670a }}</a>
        </div>
      </div>
    </div>
  </footer>