<div class="section-content footer wf-section">
    <div class="wrap-width-80p">
      <div class="wrap-footer min-width">
        <a href="{{ links.-5cb9adb }}" class="link footer">{{ texts.-5bc86c4a }}</a>
        <link rel="prefetch" href="/assets/null/sculptures.">
        <a href="{{ links.-194fb911 }}" class="link footer">{{ texts.-2ba6f602 }}</a>
      </div>
      <div class="wrap-footer min-width">
        <a href="{{ links.3f78ebe3 }}" class="link footer">{{ texts.38b72420 }}</a>
        <a href="{{ links.744fd5bb }}" class="link footer">{{ texts.-3ab0ecb0 }}</a>
      </div>
      <div class="wrap-footer align-right">
        <div class="link xs">{{ texts.5e9e2bb4 }}</div>
        <a href="{{ links.64a1e758 }}" target="_blank" class="link xs">{{ texts.-495edbcd }}</a>
      </div>
    </div>
  </div>