<section class="section intermediary wf-section">
      <div class="container">
        <div class="flex-center-start">
          <div class="flex-start-end">
            <div class="punchline middle">{{ texts.-d8218ba }}<span class="outline">{{ texts.6a54d9a1 }}</span></div><img class="img _80p" src="{{ images.5835f9c7.url }}" alt="{{ images.5835f9c7.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;76vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;69vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;64vw&quot;}]" sizes="(max-width: 479px) 76vw, (max-width: 767px) 69vw, 64vw" loading="lazy">
          </div>
          <a href="{{ links.-1d04af2f }}" class="cta-big w-inline-block"><img src="{{ images.-3aa61a9a.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;40px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;5vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;50px&quot;}]" alt="{{ images.-3aa61a9a.alt | trim | escape }}" class="cta-avatar">
            <div class="cta-text">{{ texts.-48bda494 }}</div>
          </a>
        </div>
      </div>
    </section>